# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=

# Documentation collaboration links
NUXT_PUBLIC_DOCS_REPOSITORY_URL=https://github.com/ludulicious/nuxt-customer-portal
NUXT_PUBLIC_DOCS_REPOSITORY_BRANCH=master
NUXT_PUBLIC_DOCS_FEEDBACK_REPOSITORY_URL=https://github.com/ludulicious/nuxt-customer-portal

# Product source against which the rendered documentation was verified
NUXT_PUBLIC_PRODUCT_REPOSITORY_URL=https://github.com/ludulicious/nuxt-customer-portal
NUXT_PUBLIC_PRODUCT_SOURCE_COMMIT=master
